{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<h2>Welcome to SCOTUSchat!</h2>
<p>
    Dedicated to discussion and news of the United States Supreme Court. Make an account to get started. Take a look at our forum, news, and calendar.
</p>

<!-- Image of Supreme Court -->
<img src="https://www.supremecourt.gov/about/images/2022_Roberts_Court_Formal_083122_Web.jpg" alt="Current Composition of the United States Supreme Court" width="device-width" height="600">
{% endblock %}
